<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="Lessons.js"></script>

</head>

<body>

    <main>

        <div id="app">
            <header>
                <div v-if='showLesson'></div>
                <h1 v-text="sitename"></h1>
            </header>

            <div v-for="lesson in Sortedlessons">
                <figure>
                    <img v-bind:src="lesson.Image" height="100px" width="100px">
                </figure>

                <h2 v-text="lesson.Subject"></h2>
                <p v-html="lesson.Location"></p>
                <p v-html="lesson.Price"></p>
                <p v-html="lesson.Spaces"></p>



                <button class="add to cart" v-on:click= "addToCart(lesson)" v-bind:disabled="!canAddToCart"
                >Add to cart</button>



    </div> 
    
    </div>

    <div id = "app2">

        <div v-if='ShowCheckout'></div>
        <div v-if="!showLesson"></div>

        <div v-for="lesson in Sortedlessons">
            <figure>
                <img v-bind:src="lesson.Image" height="100px" width="100px">
            </figure>

            <h2 v-text="lesson.Subject"></h2>
            <p v-html="lesson.Location"></p>
            <p v-html="lesson.Price"></p>
            <p v-html="lesson.Spaces"></p>

            <div class="col­md­6">
                <strong>First Name:</strong>
                <input v­model="order.firstName" 1
                class="form­control"/>
                </div>
                <div class="col­md­6">
                <strong>Last Name:</strong>
                <input v­model="order.lastName"
                class="form­control"/> //#A
                </div>
                <div class="col­md­12 verify">
                <pre>
                First Name: {{order.firstName}} 2
                Last Name: {{order.lastName}} 2
                </pre>
                </div>

    </div>
    </main>






    <script>


        let app = new Vue({

            el: '#app',
            data: {

                sitename: 'After School Clubs',



                lessons: lessons,

                cart: [],
                showLesson: true,
            },

           


            methods: {

                addToCart(lesson) {
                    lesson.Spaces - 1;

                    {this.cart.push(lesson.id);}
                   
            },


                canAddToCart(lesson) {
                    return lesson.Spaces > this.cartCount(lesson.id);

                },

                
            cartCount(id) {
                let count = 0;
                for (var i = 0; i < this.cart.length; i++) {

                    if (this.cart[i] == id) {

                        count++;
                    }
                }
                return count;
            },



            },










            computed: {
                Sortedlessons() {

                    if (this.lessons.length > 0) {
                        let lessonsArray = this.lessons.slice(0);
                        function compare(a, b) {
                            2
                            if (a.Price.toLowerCase() < b.Price.toLowerCase())
                                return -1;
                            if (a.Price.toLowerCase() > b.Price.toLowerCase())
                                return 1;
                            return 0;
                        }
                        return lessonsArray.sort(compare);
                    }
                }

            }

        })
let app2 = new Vue({

    el: '#app2',

    data:{

        ShowCheckout: true,
        ShowLesson:false,
order: {
firstName: '',
lastName: '',
Address: '',
Phone: ''
},


    },
})


    </script>



    </div>

</body>

</html>

</body>

</html>