<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="Lessons.js"></script>
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>

    <main>

        <div id="app">
            <header>
                <div v-if='showLesson'></div>
                <h1 v-text="sitename"></h1>
            </header>

            <div v-for="lesson in Sortedlessons">
                <figure>
                    <img v-bind:src="lesson.Image" height="100px" width="100px">
                </figure>

                <h2 v-text="lesson.Subject"></h2>
                <p v-html="lesson.Location"></p>
                <p v-html="lesson.Price"></p>
                <p v-html="lesson.Spaces"></p>



                <button class="add to cart" v-on:click="addToCart(lesson)" v-bind:disabled="!canAddToCart">Add to
                    cart</button>
                    <span v-if="lesson.spaces - cartCount(lesson.id) > 2">
                        Only {{lesson.spaces - cartCount(lesson.id)}} left!
                        </span>
                    
            </div>

            <button>
                
                v-onclick=""
                <!-- add the cart icon -->
                <span class="fas fa-cart-plus"></span> Checkout
                </button>
                

            <div v-for="lesson in cart">
                <figure>
                    <figure>
                        <img v-bind:src="lesson.Image" height="100px" width="100px">
                    </figure>


  <h2 v-text="lesson.Subject"></h2>
                   <p v-html="lesson.Location"></p>
                    <p v-html="lesson.Price"></p>
                    <p v-html="cartCount(id)"></p>
                    <button class="add to cart" v-on:click="addToCart(lesson)"> Remove</button>

                </figure>
            </div>

            <div v-if='Checkout'></div>
            <h2>Checkout</h2>
            <p>
                <strong>First Name:</strong>
                <!-- This input field is bound to 'firstName' in the 'order' object -->
                <input v-model="order.firstName" />
            </p>
            <p>
                <strong>Last Name:</strong>
                <!-- This input field is bound to 'lastName' in the 'order' object -->
                <input v-model="order.lastName" />
            </p>
            <strong>Address:</strong>
            <!-- This input field is bound to 'lastName' in the 'order' object -->
            <input v-model="order.Address" />
            </p>
            <strong>Phone:</strong>
            <!-- This input field is bound to 'lastName' in the 'order' object -->
            <input v-model="order.Phone" />
            </p>
            <h2>Order Information</h2>
            <p>First Name: {{order.firstName}}</p>
            <p>Last Name: {{order.lastName}}</p>
            <p>Address: {{order.Address}}</p>
            <p>Phone: {{order.Phone}}</p>


    </main>






    <script>


        let app = new Vue({

            el: '#app',
            data: {

                sitename: 'After School Clubs',



                lessons: lessons,

                cart: [],
                showLesson: true,
                order: {

                    Checkout: false,

                    firstName: '',
                    lastName: '',
                    Address: '',
                    Phone: ''
                },

            },




            methods: {

                addToCart(lesson) {
                    lesson.Spaces - 1;

                    { this.cart.push(lesson); }

                },


                canAddToCart(lesson) {
                    return lesson.Spaces > this.cartCount(lesson);

                },


                cartCount(id) {
                    let count = 0;
                    for (var i = 0; i < this.cart.length; i++) {

                        if (this.cart[i] == id) {

                            count++;
                        }
                    }
                    return count;
                },

                remove(lesson){

                    lesson.Spaces +1;
                    {this.cart.splice(lesson);}
                }



            },










            computed: {
                Sortedlessons() {

                    if (this.lessons.length > 0) {
                        let lessonsArray = this.lessons.slice(0);
                        function compare(a, b) {
                            2
                            if (a.Price.toLowerCase() < b.Price.toLowerCase())
                                return -1;
                            if (a.Price.toLowerCase() > b.Price.toLowerCase())
                                return 1;
                            return 0;
                        }
                        return lessonsArray.sort(compare);
                    }
                }

            }

        })




    </script>



    </div>

</body>

</html>

</body>

</html>